<header>
  <nav>    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <a href="/"><%= typeof name != 'undefined' ? name: 'EJS' %></a>
  </nav>
</header>
